{% extends 'main.html' %}

{% block abc %}
<center><br>
    
<h2>About</h2>
<div >
    <pre>
This is a simple, no‑distraction to‑do list built to help you manage your day.
You can quickly add new tasks, update details when plans change, mark tasks as 
complete when you’re done, and delete what you no longer need.

It’s designed to keep things clear and fast — so you can focus on actually
getting work done instead of figuring out the tool. Whether it’s daily errands, 
work goals, or random reminders, everything stays in one place and under your control.

Lightweight, practical, and made to work. </pre>
</div>
</center>
{% endblock %}
